body {
  margin: 0;
  display: block !important;
}

label {
  display: block;
}

.loginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-center{
  text-align: center;
}

.mb-5{
  margin-bottom: 5rem;
}