* {
  box-sizing: border-box;
}
input {
  padding: 0.25rem 0.45rem !important;
  font-size: 1rem !important;
  border: 1px solid gray !important;
  background-color: var(--gray-100) !important;
  color: var(--gray-800) !important;
  border-radius: 10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
