.MuiDrawer-docked.RaSidebar-docked {
  background-color: #fff;
}

/** allow some components to be hidden when printed, such
 *  as the print/cancel buttons
 */

@media print {
  #root {
    display: none;
  }
  .MuiBox-root * {
    font-size: 12px !important;
  }
  .RaDatagrid-rowCell,
  .RaDatagrid-headerCell {
    padding: 0 !important;
  }
  .RaDatagrid-rowCell *,
  .RaDatagrid-headerCell * {
    font-size: 12px !important;
  }
  .noprint {
    visibility: hidden;
  }
  .printable {
    position: static !important;
  }
  .pagebreak {
    page-break-inside: avoid;
    page-break-after: always;
  }
}
