.MuiDrawer-docked.RaSidebar-docked {
  background-color: #fff;
}

/** allow some components to be hidden when printed, such
 *  as the print/cancel buttons
 */

@media print {
  #root {
    display: none;
  }
  .noprint {
    visibility: hidden;
  }
  .printable {
    position: static !important;
  }
  .pagebreak {
    page-break-inside: avoid;
    page-break-after: always;
  }
}

::-ms-reveal {
  display: none;
}
